nav li>a.nav-link {
  color: #fff;padding:.9rem ;
}

li.nav-item:hover {
  /* background-color: rgb(2, 97, 253); */
  background-color: #fff;
  transition-duration: 1.5s;
}

 li.active {
  background-color: #0250fd;
   /*border: 1px solid #fff;border-radius: 2px;*/
}

.nav-link:hover,li.show>a {
  color: #007bff!important;
}
.portrait {
  display:none
}
#theTop {
  margin: 0;
}
#toTop {
  position: fixed;
  color:#fff;
  bottom: 2rem;
  right:0;
  display:none;
  opacity: .4;
}
footer a>img {
  max-height: 1.8rem;
}
@media screen and (max-width: 540px){
  .portrait {display:block;position:fixed;z-index: 100;opacity: .8;padding-top:0;margin-top: -.7rem;}
  .desktop{display: none;}
  body>main.content {margin-top: 1rem!important;}
  #navbarPortrait {
    background-color: grey;
  }
  #navbarPortrait a {
    color:navy;font-weight: bolder;
  }
  h5.textH5{text-align: center!important;}
}


