<div class="container-fluid mb-3">
  <div class="row">
    <div class="h-100 pt-1 col-12 col-sm-4 col-lg-2">
      <h5 class="text-right textH5">{{blockTitle}}</h5>
    </div>
    <div class="h-100 pt-1 input-group input-group-sm col-8 col-sm-5 col-lg-3 col-xl-2">

      <input type="text" class="form-control"
             id="searchFilter" placeholder="search"
             [disabled] = "abilityPush"
             [(ngModel)]="searchWord" (ngModelChange)="onFieldChange($event)">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" [disabled] = "abilityPush" (click)="clearField()">
          <app-duster-icon></app-duster-icon>
        </button>
      </div>
    </div>
    <div class="h-100 pt-1 col-4 col-sm-3 col-lg-2 order-lg-5">
      <div *ngIf="list | async as words">
        <button
          *ngIf="words.length"
          [attr.data-toggle]="choice ? null : 'modal'"
          data-target="#modalCenter1"
          class="btn btn-sm btn-danger btn-block"
          title="Удалить весь список"
          (click)="deleteList()">
          Delete list
        </button>
      </div>
    </div>
    <div class="h-100 pt-1 col-8 col-sm-5 col-lg-3 offset-sm-4 offset-lg-0 order-lg-3 form-inline">
      <div class="row d-flex align-items-start h-100">
        <div class="col-5 d-flex align-items-start">
          <label for="orderList" class="w-100">Order by </label>
        </div>
        <div class="col-7 d-flex align-items-start h-100">
          <select
            class="form-control pt-0 h-100 "
            id="orderList"
            [disabled] = "abilityPush" [ngModel]="selectedCategory" (ngModelChange)="onSelect($event)">
            <option *ngFor="let l of category" [value]="l.value">{{l.type}}</option>
          </select>

        </div>
      </div>
    </div>
    <div class="h-100 pt-1 col-4 col-sm-3 col-lg-2 order-lg-6">
      <button class="btn btn-sm btn-success btn-block" [routerLink]="followTo" [disabled] = "abilityPush"
              title="Добавить слово">
        Add new
      </button>
    </div>
  </div>

</div>
