<div class="container">
  <h2>О приложении</h2>
  <section class="mt-sm-5 mb-sm-5">
    <p>
      Здравствуйте, уважаемый посетитель.
    </p>
    <p>
      Для того, чтобы воспользоваться приложением, нужно войти под своим логином и паролем (пункт меню <span
      class="anchor">Вход</span> > <span
      class="anchor">Авторизация</span>). Логин - Ваш email, пароль - не менее 6 символов.<br>
      Если же Вы не зарегистрированы, то, соответственно, сначала нужно пройти регистрацию (пункт меню <span
      class="anchor">Вход</span> > <span
      class="anchor">Регистрация</span>), а потом войти под своим логином и паролем.
    </p>
    <p>
      Идея данного приложения - сформировать индивидуальный словарь (который будет постоянно меняться). В данный словарь
      следует добавлять слова (фразы), которые, по какой-то причине, не поддаются быстрому запоминанию. По мере
      запоминания, эти слова из списка можно удалять (бессмысленно хранить в списке слова, которые помнишьтвердо).<br>
      Для удобства пользования, приложение разбито на несколько категорий (пункты меню). На основной вкладке раздел
      неправильные глаголы (<span class="anchor">Irregular verbs</span>) и личный словарь (<span class="anchor">Private vocabulary</span>).
      На вкладке дополнительно (<span class="anchor">Additionally</span>) находятся разделы: глаголы,требующие после
      себя герундий (<span class="anchor">Gerund</span>), глаголы,требующие после себя инфинитив (<span class="anchor">Infinitive</span>),
      раздельные фразовые глаголы (<span class="anchor">Separable</span>) и часто употребляемые фразы (<span
      class="anchor">Phrases</span>).<br>
    </p>
    <ul>Формировать список в каждой из категорий можно двумя способами:
      <li>добавлять по одному слову;</li>
      <li>загрузить дефолтный список, а потом отредактировать его;</li>
    </ul>
    <p>
      Ниже расположены основные правила пользования данным приложением. Их также можно найти в разделе <span
      class="anchor">Guide</span>.
    </p>
  </section>
  <hr class="mb-sm-5">
  <app-common-guide-page></app-common-guide-page>
</div>
