<app-modal (sendDelete)="deleteList($event)"></app-modal>

  <app-control-block
    [blockTitle]="exportTitle"
    [list]="words$"
    [followTo]="exportFollowTo"
    [choice]="exportChoice"
    [abilityPush]="exportAbilityPush"
    (takeWord)="onSearchWord($event)" (takeType)="changeOrderBy($event)" (delList)="deleteList()">
  </app-control-block>

<div class="container-fluid">
  <div *ngIf="words$ | async as words; else loader">
    <table class="table table-hover table-bordered margBot" *ngIf="words.length; else empty">
      <tr *ngFor="let item of words | listFilter : searchWord : 'name' | appOrderBy : selectedType"
          [routerLink]="exportChoice ? null : ['/vocabulary', item._id]">
        <td *ngIf="exportChoice" class="mw-40">
          <input #chkbx type="checkbox" [checked]="item.removable?'checked':null"
                 (change)="saveChanges(item, chkbx.checked)">
        </td>
        <td>{{item.name}}</td>
        <td><span class="text-secondary">[ </span>{{item.transcription}}<span class="text-secondary"> ]</span></td>
        <td>{{item.translation}}</td>
      </tr>
    </table>
    <ng-template #empty>
      <div class="row justify-content-center mt-5 alert alert-warning" *ngIf="hideLoader;else loader">
        <div class="col-12">
          <p class="text-center text-success">В Вашем словаре нет слов. Хотите загрузить дефолтный список?</p>
        </div>
        <div class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-3">
          <button class="btn btn-outline-success btn-lg btn-block" title="Загрузить дефолтный список"
                  (click)="addDefault()">
            Download default list
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
